<footer class="footer">
  <div class="container is-fluid">
    <div class="content has-text-centered">
      <p><small class="eng">Copyright © 2019</small></p>
      <small<>MiMiMi</small>
    </div>
  </div>
</footer>
